/*

@import url('https://fonts.googleapis.com/css?family=Maven+Pro');

img {
  float: left;
}
 */


 @import url('https://fonts.googleapis.com/css?family=Maven+Pro');


* {
  font-family: 'Maven Pro', sans-serif;


}



body {
background-image: url("file:///Users/anh/Downloads/whitebackground.jpg");
background-repeat: title;

}

nav div {
  display: block;
  color: white;
  background-color: black;
  border: 0;
  padding: 10px;
  font-weight: bold;
}


.resize {
    width: 250px;
    height: auto;
}


.photos {
    position: absolute;
}



.photos img:nth-of-type(1) {
    left: 50px;
    top: 50px;
    transform: rotate(5deg);
}

.photos img:nth-of-type(2) {
    left: 150px;
    top: 100px;
    transform: rotate(-5deg);
}

.photos img:nth-of-type(3) {
    left: 250px;
    top: 50px;
    transform: rotate(7deg);
}

.photos img:nth-of-type(4) {
    left: 350px;
    top: 150px;
    transform: rotate(-3deg);
}

.photos img:nth-of-type(5) {
    left: 450px;
    top: 50px;
    transform: rotate(2deg);
}

.photos img:hover {
    transform: scale(1.5);
    z-index: 10;
}




.photos img {
    transition: all 0.5s ease-out;
    padding: 10px 10px 20px 10px;
    background: white;
    border: solid 1px black;
}


.column {
    float: left;
    width: 22%;
    padding: 10px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
