<h1>Add Employee</h1>
  <form action="/employees" method="post">
  <p>
    <strong>Employee Number:</strong><input type="text" name="number">
  </p>
  <p>
    <strong>Employee First Name:</strong><input type="text" name="first_name">
  </p>
  <p>
    <strong>Employee Last Name:</strong><input type="text" name="last_name">
  </p>
  <p>
    <strong>Employee Job Title:</strong><input type="text" name="job_title">
  </p>
  <p>
    <strong>Employee Date Of Birth:</strong><input type="text" name="date_of_birth">
  </p>
  <p>
    <strong>Employee Salary:</strong><input type="text" name="salary">
  </p>
  <p>
    <strong>Employee Image:</strong><input type="text" name="image">
  </p>
  <br>
  <input type="submit" value="Add Employee">
</form>
