* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgba(120,120,120,0.7);
    font-family: "Roboto";
}

nav {
    background-color: rgb(3, 3, 3);
    height: 30px;
    text-align: right;
    position: fixed;
    width: 100%;
    top: 0px;
    color: rgba(233, 232, 232, 0.671);
}

li {
    display: inline-block;
    padding: 3px;
    margin: 3px;
    text-decoration: none;
}

.heading {
    height: 110px;
    background-color: rgba(50,50,50,0.9);
    color: rgb(221, 208, 208);
}

#h1 {
    padding: 50px;
}
