* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Baloo+Paaji');
@import url('https://fonts.googleapis.com/css?family=Rosario');

.page1 {
  margin: 0;
  padding: 0;
  font-family: 'Rosario', sans-serif;
  background: url("../images/havardMark1.jpg");
  background-size: contain;
  font-size: 20px;
}

h1,h2,h3 {
  font-family: 'Baloo Paaji', cursive;
}

h1,h2{
 text-align: center;
 font-weight: bold;
 font-size: 35px;
}

h3 {
 font: bold;
}
/*
div {
  font-family: 'Rosario', sans-serif;
} */

header {
  background-color: rgb(52,152,219);
  width: 1000px;
  position: relative;
  margin: 0 auto;
  padding: 10px;
  border-radius: 40px;
  color: white;
  border:2px solid black;
  text-align: justify;
}

#graceImage {
  margin-left: 380px;
}

#cobol:hover {
  font-size: 150%;
}

#lastParagraph {
  color: white;
  padding-top: 17px;
}

footer {
  background: rgb(52,152,219);
  width: 500px;
  height: 120px;
  position: relative;
  margin: 0 auto 100px;
  text-align: center;
  border-radius: 30%;
  border:2px solid black;
}

/* this is the whole timeline block */
.timeline {
  max-width: 1000px;
  height: auto;
  position: relative;
  margin: 0 auto;
  box-sizing: border-box;
}

/* this is the vertical line in the middle */
.timeline::before {
  content: " ";
  background-color: white;
  position: absolute;
  top:-26px;
  left: 50%;
  bottom: 115px;
  width: 10px;
  margin: auto;
  padding-bottom: 220px;
  border:2px solid black;
}

li {
  padding-bottom: 10px;
  margin:5px;
}

p {
  /* text-align: justify; */
  padding-bottom: 3px;
}

/* this is the container */
.container {
  width: 40%;
  padding-left: 0;
  list-style-type: none;
  background-color: white;
  text-align: justify;
  position: relative;
  border-radius: 20px 0 20px 20px;
  padding-right: 5px;
}

/* left arrow */
.container::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 0;
  width: 0;
  z-index: 1;
  left: 400px;
  border: solid white;
  border-width: 20px 0 20px 20px;
  border-color: transparent transparent transparent white;
}

/* right side even number container, overwrite original container setting */
.container:nth-of-type(2n) {
  left: 600px;
  border-radius: 0 20px 20px;
  padding-right: 3px;
  /* text-align: left; */
  padding-left: 5px;
  position: relative;
}

/* right arrow */
.container:nth-of-type(2n)::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 0;
  width: 0;
  z-index: 1;
  left: -20px;
  border: solid white;
  border-width: 20px 20px 20px 0;
  border-color: transparent white transparent transparent;
}

/* circles on timeline */
.container::after {
  content: " ";
  position: absolute;
  border-radius: 50%;
  z-index: 2;
  margin-top: -10px;
  top: 50%;
  left: 50%;
  width: 30px ;
  height: 30px;
  background-color: rgb(52,152,219);
  border: 2px solid black;
}

.container:nth-of-type(2n)::after {
  left: -110px;
  top: 13px;
}

.container:nth-of-type(2n+1)::after {
  left: 490px;
  top: 24px;
}








/* ==========page 2============= */
.page2 {
  background-color: black;
  /* Force the body to fill the entire screen */
  width: 100%;
  height: 100%;
}

.titles {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

#bottomLayer
{
	position: absolute;
	width: 18em;
	height: 50em;
	bottom: 0;
	left: 50%;
	margin-left: -9em;
	font-size: 350%;
	font-weight: bold;
	text-align: justify;
   /* Hide elements that flow outside the viewable space */
	overflow: hidden;
	transform-origin: 50% 100%;
	transform: perspective(350px) rotateX(25deg);
}

#awardsList
{
  color:#F1C40F;
  font-family: "Century Gothic", sans-serif;
	position: absolute;
	top: 100%;
	animation: scroll 122s linear 5s 1;
}

@keyframes scroll {
  /* start of the text */
  /* When position is set to absolute or fixed, the top property specifies the distance between the element's top edge and the top edge of its containing block. */
  /* 100% means the top of elements is the edge of containing block. */
	0% { top: 100%; }
  /* end of the text */
	100% { top: -170%; }
}

#audio {
  width: 200px;
  margin: 0 auto;
}

/* ??? */
/* #bottomLayer:after
{
	position: absolute;
	content: ' ';
	left: 0;
	right: 0;
	top: 0;
	bottom: 60%;
	background-image: linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
	pointer-events: none;
} */








/* ==========page 3============= */
.page3 {
  background: url("../images/nyc.jpg");
  background-size: cover;
  /* background-repeat: no-repeat; */
}

#newyorkTitle {
  margin-top:50px;
  font-size: 80px;
  color: white;
}

#secondTitle {
  text-align: center;
  font-size: 40px;
  color: white;
}

.mainContainer {
  width: 400px;
  height: auto;
  position: relative;
  margin:30px auto;
  display: flex;
  flex-wrap: wrap;
}

/* entire flipCard */
.flipcard {
 /* display:inline-block; */
 width: 50%;
 height: 200px;
 margin: 40px;
 perspective: 1000px;
 flex-wrap: wrap;
}

/* actual card */
.card {
  width: 200px;
  height: 200px;
  position: relative;
  margin: 0 auto;
  transform-style: preserve-3d;
  transition: all 0.5s linear;
}

.flipCard:hover .card {
  transform: rotateY(180deg);
}

#map {
  bottom: 0;
  text-align: center;
}

/* front image and back text */
.front, .back {
  box-sizing: border-box;
  position: absolute;
  background: rgba(246,70,102,.6);
  top: 0;
  left: 0;
  width: 200px; height: 200px;
  border-radius: 10%;
  color: white;
  backface-visibility: hidden;
  font-size: 20px;
  text-align: center;
}

.back {
  transform: rotateY(180deg);
 }





/* .card-container { display: inline-block; margin: 0 auto; padding: 0 12px; perspective: 900px; text-align: center; }

.card { position: relative; width: 100px; height: 100px; transition: all 0.6s ease; transform-style: preserve-3d; } */

/* .flipCard {
  display: inline-block;
  width:40%;
  margin: 0 0 10px 50px;
  position: relative;
  perspective: 1000px;
}

.flipcard, .front, .back {
  width: 320px;
  height: 400px;
}

.flipCard:hover.figure, .flipCard.hover.figure {
  transform: rotateY(180deg);
}


.card {
  margin:0;
  padding:0;
  cursor:pointer;
  margin-left:50px;
  transition: 1s;
  transform-style: preserve-3d;
  position: relative;
}

.front {
  display:block;
   position:relative;
   z-index:10;
   margin:-15px 0
}



/* flip speed goes here */
/* .figure {
	transition: 1s;
	transform-style: preserve-3d;
	position: relative;
} */

/* hide back of pane during swap */
/* .front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
} */

/* front pane, placed above back */
/* .front {
	z-index: 5;
	transform: rotateY(0deg);
} */

/* back, initially hidden pane */
/* .back {
	transform: rotateY(180deg);
}

#map {
  display: block;
  margin: 30px auto;
} */
