RESULTS
<h2>Search Results for <%= @query %>:</h2>

<ul>
<% @results["results"].each do |movie| %>
  <li>
    <a href ="/details/<%= movie["id"]%>">
    <img src="<%= @img_base_url + movie["poster_path"]%>">
    </a>
  </li>
<% end %>
</ul>

<!-- <code>
  <%= params %>
</code> -->
