<form action="/search/results">

    <label>
        Search keyword(s):
    <input type="text" placeholder="type movie name here" name="query">
    </label>

    <input type="submit" value="search">


</form>