<h1>THIS ANSWER MAY SHOCK YOU!!!</h1>

<br>
<strong>You asked:</strong> <%= @question %>

<br>
<strong>MAGIC 8 BALL SAYS:</strong> <%= @answer %>

<br>

<a href="/games/magic">Click here to return to the magic 8 ball homepage</a>
<hr>
<%= image_tag("magic-ball.jpg", :alt => "magic 8 ball") %>
