
<h1>Welcome to the magic 8 ball... in rails</h1>
<br>
May question that you ask make all your dreams come true!!!
<br>
To use the magic 8 ball. Enter your question at the end of the url.
<br>
EG: /games/magic/Am I an egg?
<hr>
<%= image_tag("dog-8-ball.jpg", :alt => "magic 8 ball dog") %>
