body{
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQxanD7HQKyCx9Q9fhKn0AWN6XMkb9Oibg4am3ExLdfFnzXUgUj");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 20px;
  padding-left: 50px;
  /* background-color: pink; */
}
h1{
  text-align: center;
}
.mountains{
  display: block;
  height: 50px;
  width: 30%;
}
.main{
  flex-grow: 1;
}
.footer{
  height: 100px;
}
#img_individual{
  height: 300px;
  width: 500px;
}
input{
  padding: 10px;
  margin: 5px;
  width: 200px;
  font-size: 16px;
}
.button{
  padding:10px;
  border:3px solid rgb(12, 67, 103);
  -webkit-border-radius: 10px;
  border-radius: 20px;
  color: rgb(12, 67, 103);
  font-size: 18px;
  cursor: pointer;
}
