<h2>Add Serial Killer</h2>


<form action="/serialkillers" method="post">
  First Name: <input type="text" name="first_name"><br>
  Last Name: <input type="text" name="last_name"><br>
  Image URL: <input type="text" name="image"><br>
  Alive: <input type="text" name="alive"><br>
  Victims: <input type="text" name="victims"><br>

  <input type="submit" value="Create Evil">
</form>
