<h2>Add person</h2>
<form action="/men" method="post">
  Name:          <input type="text" name="name"><br>
  Country:       <input type="text" name="country"><br>
  Height:        <input type="text" name="height_in_cm"><br>
  Age at death:  <input type="text" name="age_at_death"><span><em>Please do not add any person who is still alive</em></span><br>
  Note:          <textarea type="text" name="note">add note here...</textarea><br>
  Image URL:     <input type="text" name="image_url" ><br>

  <input type="submit" name="" value="submit">
</form>
