<h1>Rock Paper Scissors</h1>
<form action="/games/rock_paper_scissors/play">

<p>Please enter your choice:</p>
<input type="text" name="throw">
<input type="submit" value="submit">
</form>

<!-- <a href="/games/rock_paper_scissors/scissors">Scissors</a>
<a href="/games/rock_paper_scissors/paper">Paper</a>
<a href="/games/rock_paper_scissors/rock">Rock</a>  -->
