@import url('https://fonts.googleapis.com/css?family=Enriqueta');
body{
  margin: 0;
  padding-left: 100px;
  padding-right: 100px;
}
h2{
  color: grey;
}
ul.navBar{
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
  background-color: #333;
}
ul.navBar li{
  float: left;
}
ul.navBar li a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
ul.navBar li a.active{
  background-color: #111;
  background-image: url("images/bg_nav_rollover.png");
  color: DeepSkyBlue;
}
ul.navBar li a:hover:not(.active){
  background-color: #111;
}
ul.navBar li.right{
  float: right;
}
@@media screen and (max-width: 600px) {
  ul.navBar li.right,
  ul.navBar li{
    text-align: center;
    float: none;
  }
}

/* NOTE: Index styles */
section {
  overflow:hidden;
}
section > * {
  float: left;
}
section.section article{
  padding-top: 20px;
  float:left;
  width: 60%;
  font-family: 'Enriqueta', serif;
  font-size: 18px;
}
section.section aside{

}
figcaption{
  text-align: center;
}
.sectionBio{
  float: none;
}
.article{
  padding-top: 20px;
  font-family: 'Enriqueta', serif;
  font-size: 18px;
}
.awards{
  padding: 50px;
}
