<h1>Results</h1>

<% if @guess == @random %>
<%= image_tag "http://m.memegen.com/raph8k.jpg" %>
<% else %>
<%= image_tag "http://theblackbeltmastermind.com/wp-content/uploads/2015/12/wrong.png" %>
<% end %>
