<h2 id="main-header">Add a New Beer</h2>
<div class="beer-form">
<div class="updated-column">
  &nbsp;
</div>
<div class="nav-links-column">
  <%= link_to "Back to All Beers", beers_path, :class => "nav-links" %>&nbsp;&nbsp;
</div>

<%= render partial: "form" %> 
</div>