<h1><%= @royal.name %></h1>
<!-- <p>Find me in app/views/royals/show.html.erb</p> -->

name:text dob:date spouse:text title:text image:text

<p>
  <strong>
  Date of Birth:
 </strong>
 <%= @artist.nationality %>
</p>

<p>
  <strong>
  Nationality:
 </strong>
 <%= @artist.nationality %>
</p>
