body {
  background-color: black;
  color: rgb(207,207,207);
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 980px;
  margin: auto;
}

img {
  padding: 6px;
}
