<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Mountains of the world</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div class="main">
      <%= yield%>
    </div>
    <hr>
    <div class="footer">
      <footer>
        <div>
          <a href="/mountains/new">Add Mountain</a>
        </div>
        <div>
          &copy; Heighter than the Highest
        </div>
      </footer>
    </div>
  </body>
</html>
