<h1>
  <strong>
    Add Mountain
  </strong>
</h1>
<form action="/mountains" method="post">
  <div>
    <strong>Name:</strong><input type="text" name="name">
  </div>
  <div>
    <strong>Height:</strong><input type="text" name="height">
  </div>
  <div>
    <strong>Range:</strong><input type="text" name="range">
  </div>
  <div>
    <strong>Parent Mountain:</strong><input type="text" name="parent_mountain">
  </div>
  <div>
    <strong>First Ascent:</strong><input type="text" name="first_ascent">
  </div>
  <div>
    <strong>Country:</strong><input type="text" name="country">
  </div>
  <div>
    <strong>Image Url:</strong><input type="text" name="image_url">
  </div>
  <br>
<input type="submit" value="Add Mountain" class="button">
</form>
