/*

## Style Hints:

Body Font Size = 12px
	 Line Height = 17px
	 Font Family = "Times New Roman", serif
	 Font Color = #656565

Link Hover Color = #20222a

*/
h1,h2{
  color: grey;
}
body {
  margin: 0 auto;
  max-width: 960px;
}
p{
  text-align: justify;
}
.imgSmall{
  border: 5px;
  border-style: solid;
  border-color: grey;
  border-radius: 4px;
}
.span{
  color: blue;
}
#images{

}
