
<h1>Welcome to rock paper scissors... in rails</h1>

<br>
May you be the rock to my paper... and be forever defeated.
<br><br>
CHOOSE YOUR WEAPON:

<br>

<strong>
<br><a href="/games/rockpaper/rock">ROCK</a>
<br><a href="/games/rockpaper/paper">PAPER</a>
<br><a href="/games/rockpaper/scissors">SCISSORS</a>
</strong>
<hr>
<%= image_tag("cat-intro.gif", :alt => "cat is here") %>
