<h1></h1>

<br>
<strong>You choose:</strong> <%= @player.capitalize %>

<br>
<strong>You choose:</strong> <%= @computer.capitalize %>

<br>
<strong>Winner:</strong> <%= @winner %>
<br>
<a href="/games/rockpaper">Click here to play gain</a>
<hr>
<%= image_tag("monday-dog.jpg", :alt => "sad dog") %>
