<h2>Add Serial Killer</h2>

<form action="/killers" method="post">
  Name: <input type="text" name="name"><br>
  Image URL: <input type="text" name="image"><br>
  Country: <input type="text" name="country"><br>
  Active from: <input type="text" name="years_active_from"><br>
  Active to: <input type="text" name="years_active_to"><br>
  Proven victims: <input type="text" name="proven_victims"><br>
  Notes: <input name="notes" class="textbox"><br>
  <input type="submit" value="submit">
</form>
