@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import "font-awesome";

html {
  box-sizing: border-box;
}

body {
  display: grid;
  min-height: 100vh;

  font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-weight: 400;

  font-size: 14px;
  line-height: 1.42857143;
}

.wrapper {
  display: grid;
  grid-template-columns: 10% auto 10%;
  grid-template-rows: 24px auto;
}

.main-head {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1;
  background-color: #000000;
}

.main-content {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;

  background-color: #ecf0f5
}

.side-left {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 3;

  background-color: #ecf0f5
}

.side-right {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;

  background-color: #ecf0f5
}

.main-footer {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;

  background: #fff;
  padding: 15px;
  color: #444;
  border-top: 1px solid #d2d6de;
}

#content-box {
  padding: 10px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 4px 4px;
}

.row img {
  margin-top: 4px;
  margin-right: 4px;
  vertical-align: middle;
}

.poster-image {
  position: relative;
  text-align: center;
  color: white;
}

.centered-title {
  background-color: rgba(255, 255, 255, 0.8);
  width: 250px;
  color: rgb(138, 22, 22);
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.box-header .box-title {
  display: inline-block;
  font-size: 18px;
  margin: 0;
  line-height: 1;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Source Sans Pro',sans-serif;
}

.box-header:before, .box-body:before, .box-footer:before, .box-header:after, .box-body:after, .box-footer:after {
  content: " ";
  display: table;
}

.box-body {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 10px;
  font-size: 14px;
}

.box.box-solid.box-warning>.box-header {
  color: #fff;
  background: #f39c12;
  background-color: #f39c12;
}

.box.box-solid.box-warning {
  border: 1px solid #f39c12;
}

.box-header>.box-tools {
  position: absolute;
  right: 10px;
  top: 5px;
}

.pull-right {
  float: right;
}

.pull-right {
  float: right!important;
}

.box-header {
  color: #444;
  display: block;
  padding: 10px;
  position: relative;
}

.box-header.with-border {
  border-bottom: 1px solid #f4f4f4;
}

.box-header>.fa, .box-header>.glyphicon, .box-header>.ion, .box-header .box-title {
  display: inline-block;
  font-size: 18px;
  margin: 0;
  line-height: 1;
}

.box {
  position: relative;
  border-radius: 3px;
  background: #ffffff;
  border-top: 3px solid #d2d6de;
  margin-bottom: 20px;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.box-title {
  display: inline-block;
  font-size: 18px;
  margin: 0;
  line-height: 1;
}

.fa-minus:before {
  content: "\f068";
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.info {
  color: #444;
}

.info.first {
  margin-top: 5px;
}

.info.info-label {
  font-weight: 600;
}

.info.info-link {
  text-align: right;
}

.thumbnail {
  /* display: inline-block; */
  max-width: 200px;
  max-height: 200px;
  height: auto;
  float: left;
  vertical-align: middle;
  border: 0;
}

.detail-info {
  margin: 0px 15px;
  /* display: inline-block; */
  font-size: 18px;
  vertical-align: top;
  /* margin-left: 220px; */
  /* position: absolute; */
}

.detail-info.rating {
  text-align: right;
}

.review-heading {
  margin-top: 10px;
  margin-left: 220px;
}

.review-address {
  /* margin-top: 10px; */
  margin-left: 220px;
}


.review-address {
  margin-left: 220px;
}

.review {
  color: #333;
  font-size: 14px;
  line-height: 1.42857143;
  font-weight: 400;
  margin-top: 8px;
  /* margin-left: 220px; */
}

.username {
  font-weight: 600;
}

.rating {
  color: #fff;
  background-color: #3c8dbc;
  font-size: 16px;
}

.pull-right {
  float: right!important;
}

.text-muted {
  font-weight: 400;
  font-size: 12px;
}

.review-block {
  border: 1px solid #f4f4f4;
  padding: 5px;
  margin-bottom: 10px;
  background: #f7f7f7;
  margin-left: 215px;
}