<h2> Add a country </h2>

<form action="/countries" method="post">
    Country Name: <input type="text" name="name"><br><br>
    Population: <input type="number" name="population"><br><br>
    Continent: <input type="text" name="continent"><br><br>
    Language: <input type="text" name="language"><br><br>
    Explored: <input type="number" name="explored"><br><br>
    <input type="submit" value="save">
</form>