<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Oceans</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <h1>Oceans of the world</h1>
    <hr>
    <%= yield %>
    <hr>
    <footer>&copy; Oceans 2018</footer>
  </body>
</html>
