<h2>Add Ocean</h2>
<form action="/oceans" method="post">
  Name: <input type="text" name="name"><br>
  Location: <input type="text" name="location"><br>
  Area: <input type="text" name="area"><br>
  Volume: <input type="text" name="volume"><br>
  Average depth: <input type="text" name="avg_depth"><br>
  Coastline: <input type="text" name="coastline"><br>
  Image URL: <input type="text" name="image_url"><br>

  <input type="submit" value="Save new ocean">
</form>
