<h2>Add cities</h2>

<form action="/cities" method="post">
  Name: <input type="text" name="name"><br>
  Image: <input type="text" name="image_url"><br>

  <input type="submit" value="Save City">
</form>
