<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Celebrities I admire</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel='stylesheet' href='https://unpkg.com/emoji.css/dist/emoji.min.css'>

  </head>
  <body>
    <div class="main">
    <h1>Celebrities scrapbook </h1>

    <hr>

    <%= yield %>
    <hr>

      <a href="/celebrities/new">Add Celebrites</a>
      <a href="/cities/new">Add Cities</a>

    <hr>
      <div class="box"> <span class="ec ec-joy"></span><span class="ec ec-poop"></span><span class="ec ec-rofl"></span> <br>CATCH ME IF YOU CAN <span class="ec ec-rocket"></span></div>
    </div>
      <div id="video">
      <iframe width="640" height="360" src="https://www.youtube.com/embed/S9tKwSboJeg?autoplay=1" allow frameborder="0" encrypted-media allowfullscreen></iframe></div>

    <div class="footer">&copy; Google and whatnot 2018</div>

  </body>
</html>
