%h2 Add owner

%form(action="/owners" method="post")
    Name
    %input(type="text" name="name")
    %br
    %br
    Location: 
    %input(type="text" name="location")
    %br
    %br
    Owns:
    %input(type="text" name="species")
    %br
    %br
    %input(type="submit" name="save")