%h1 Secret number guessing game!

%h3 Click to play!

%form{ :action => "/secret/result"}
    %input.secret_game{ :type => "submit", :name => "guess", :value => 1}
    %input.secret_game{ :type => "submit", :name => "guess", :value => 2}
    %input.secret_game{ :type => "submit", :name => "guess", :value => 3}
    %input.secret_game{ :type => "submit", :name => "guess", :value => 4}
    %input.secret_game{ :type => "submit", :name => "guess", :value => 5}
    %input.secret_game{ :type => "submit", :name => "guess", :value => 6}
    %input.secret_game{ :type => "submit", :name => "guess", :value => 7}
    %input.secret_game{ :type => "submit", :name => "guess", :value => 8}
    %input.secret_game{ :type => "submit", :name => "guess", :value => 9}
    %input.secret_game{ :type => "submit", :name => "guess", :value => 10}