%h2
    Result!!!

%p
    ="You guessed the number #{@guess}!"
%br
-if @guess == rand(1..10)
    ="You guessed correctly!"
-else
    ="You guessed incorrectly!"

%hr
%a{ :href => "/secret"} Guess again?
%br
%a{ :href => "/"} Go back home?