<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Celebrities I admire</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <h1>Celebrities scrapbook </h1>
    <hr>
    <%= yield %>
    <hr>
    <footer><div>
        <a href="/celebrities/new">Add Celebrites</a>
        <br>
      </div>
      <div>&copy; Google and whatnot 2018</div>
    </footer>
  </body>
</html>
