@import url('https://fonts.googleapis.com/css?family=BCardo|Caveat|Lobster|Playfair+Display+SC|Rokkitt|Sacramento|Yantramanav|PT+Sans');
/* font-family: 'Lobster', cursive;
font-family: 'Sacramento', cursive;
font-family: 'Caveat', cursive;
font-family: 'Playfair Display SC', serif;
font-family: 'Cardo', serif;
font-family: 'Yantramanav', sans-serif;
font-family: 'Rokkitt', serif;
font-family: 'PT Sans', sans-serif;
*/

body{
  margin-left:300px;
  margin-right: 400px;
  background-image:url("bc1.jpg");
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
}
nav{
  font-size: 20px;
}
header{
  font-family: 'Caveat', cursive;
  font-size: 38px;
  color: #4d3319;
}
a:hover{
  color: #1ac6ff;
}
