@import url('https://fonts.googleapis.com/css?family=Do+Hyeon');
@import url('https://fonts.googleapis.com/css?family=Do+Hyeon|PT+Sans+Caption');
/* * {
  box-sizing: border-box;
} */
h1 {
  font-family: 'Do Hyeon', sans-serif;
  text-transform: uppercase;
  text-shadow: 0 5px 0 rgba(0, 0, 0, 0.2);

}
h2 {
  font-weight: bold;
}
li {
  list-style: none;
  display: inline-block;

}
a {
text-decoration: none;
}

body {
  background-color: pink;
  font-size: 20px;
  padding: 10px;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'PT Sans Caption', sans-serif;
}

}
div {
    text-align: center;
}

.footer {
    background: #ffff33;
}
.main {
flex-grow: 1;
}

img {
   width:250px;
   height:250px;
   position:relative;
   -webkit-animation:myfirst 5s infinite; /* Chrome, Safari, Opera */
   animation:myfirst 10s;
   border-radius: 50%;
   tex
   }

@keyframes myfirst
    {
    0%   { left:0px; top:0px;transform:rotate(0deg)}
    50%  {left:100%; margin-left: -100px;transform:rotate(360deg)}
    100% {left:0px; top:0px;transform:rotate(0deg)}
    }

.container {
  display: grid;
  padding: 10px;
  background: #fff;
  grid-template-columns: auto auto auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}
.grid-item {
  background: #eee;
  padding: 5px;
  text-align: center;
  vertical-align: middle;
}
