%h1
    Welcome. Let's play some gaems!!

%ul
    %li
        %a{ :href => "/magic"} Magic 8 ball!
    %li
        %a{ :href => "/secret"} Secret number!
    %li
        %a{ :href => "/rps"} Rock paper scissors!