<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Soccer Teams</title>
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <h1>Soccer teams around the World</h1>
    <%= yield %>
  </body>
  <hr>
  <footer>
    <a href="/teams">List of all teams</a> <br>
    <a href="/countries">List of all countries</a>
  </footer>
</html>
