body {
  background-color: black;
  color: rgb(207, 207, 207);
  font-family: Helvetica, sans-serif;
  margin: 10;
  padding: 10;
}


.container {
  max-width: 980px;
  margin: auto;
}

img {
  padding: 6px;
}
