<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>List of tallest men - TOP 5</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <h1>List of tallest men - TOP 5</h1>
    <hr>
    <%= yield %>
    <hr>
  </body>
</html>
