<h2>Add Supporter</h2>
<form action="/supporters" method="post">
  Name:          <input type="text" name="name"><br>
  Location:       <input type="text" name="location"><br>
  Supported Count:        <input type="text" name="supported"><br>
  Supported man ID:        <input type="text" name="man_id"><br>

  <input type="submit" name="" value="submit">
</form>
