<h2><%= @query%></h2>
<ul>
<% @results["results"].each do |movie| %>
  <li>
    <a href="<%= '/details/'+ movie["id"].to_s%>"><img src="<%= @img_base_url + movie["poster_path"]%>"></a>
  </li>
<% end %>
</ul>
