
<h1>Welcome to the secret number game... in rails</h1>

<br>
If I told you... the secret number... would it still be a secret?

<br>

PICK A NUMBER BETWEEN 1 and 10:

<form action="/games/secretnum/guess">
<input type="text" name="guessed num">
  <input type="submit" value="guessed num">
</form>

<hr>
<%= image_tag("happy-dance.jpg", :alt => "happy dance") %>
