<h1>YOU FAIL!!!</h1>

<br>
<strong>You guessed:</strong> <%= @guess %>

<br>
<strong>THE ANSWER WAS:</strong> <%= @random_answer %>

<br>
<%= image_tag("cat-loses.gif", :alt => "cat loses") %>
<hr>
<a href="/games/secretnum">Click here to try again!!!</a>
