<h1>YOU ARE A WINNER</h1>

<br>
<strong>You guessed:</strong> <%= @guess %>

<br>
<strong>THE ANSWER WAS:</strong> <%= @random_answer %>

<br>
<a href="/games/secretnum">Click here to try again!!!</a>
<%= image_tag("cat-gif.gif", :alt => "cat wins") %>
