
@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans');

/* a:link {
    color: white;
} */

a:visited {
    color: white;
}

a:hover {
    color: #F42A65;
}

body {
background-image: url("file:///Users/anh/Downloads/whitebackground.jpg");
background-repeat: title;


}

nav div {
  display: block;
  color: white;
  background-color: black;
  border: 0;
  padding: 10px;
}


h1, h2, h3 {
  font-family: 'Black Han Sans', sans-serif;
}

ul {
  list-style: none;
}


#cat {
  float: right;
}
